{{ include('partials/_header.twig') }}
{{ include ('partials/_nav.twig') }}
<div class="section-padding" style="padding-top: 180px; padding-bottom: 10px;">
  <div class="container text-center">
    <div class="section-title center">
      <h2 class="mb-small">Take a look at some of our<strong> | Stories</strong></h2>
      <p>Take a look at the previous works student from the foundation year have created.</p>
    </div>
  </div>
</div>
<section class="block">
  <div class="section-padding" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="container text-center">
      <div class="blog-style-1">
        <div class="row-page row">
          <div class="col-page col-sm-8 col-md-6">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self black post-style-1">
              <div class="img-wrapper">
                <img src="{{ record.image1|image() }}" class="img-edit edit-self" alt="image">
              </div>
              <div class="featured-post text-left">
                <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
          <div class="col-page col-sm-4 col-md-3">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self post-style-1">
              <div>
                <img src="{{ record.image|image() }}" class=" img-responsive edit-self" alt="image">
              </div>
              <div class="post-content-wrapper text-left">
                <h3>Neque porro quisquam est</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
          <div class="col-page col-sm-4 col-md-3">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self post-style-1">
              <div>
                <img src="{{ record.image|image() }}" class=" img-responsive edit-self" alt="image">
              </div>
              <div class="post-content-wrapper text-left">
                <h3>Neque porro quisquam est</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
          <div class="col-page col-sm-4 col-md-3">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self post-style-1">
              <div>
                <img src="{{ record.image|image() }}" class=" img-responsive edit-self" alt="image">
              </div>
              <div class="post-content-wrapper text-left">
                <h3>Neque porro quisquam est</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
          <div class="col-page col-sm-4 col-md-3">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self post-style-1">
              <div>
                <img src="{{ record.image|image() }}" class=" img-responsive edit-self" alt="image">
              </div>
              <div class="post-content-wrapper text-left">
                <h3>Neque porro quisquam est</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
          <div class="col-page col-sm-4 col-md-3">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self post-style-1">
              <div>
                <img src="{{ record.image|image() }}" class=" img-responsive edit-self" alt="image">
              </div>
              <div class="post-content-wrapper text-left">
                <h3>Neque porro quisquam est</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
          <div class="col-page col-sm-4 col-md-3">
            <a href="{{ (record.box1link) }}" class="link-edit edit-self post-style-1">
              <div>
                <img src="{{ record.image|image() }}" class=" img-responsive edit-self" alt="image">
              </div>
              <div class="post-content-wrapper text-left">
                <h3>Neque porro quisquam est</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="section-overlay">
    <div class="section-padding" style="padding-top: 40px; padding-bottom: 80px;">
      <div class="container">
        <div class="row">
          <div class="clearfix col-sm-12 text-center mb-medium">
            <button class="btn btn-theme btn-primary filter-button active" data-filter="all" data-balloon="Right Click To Edit" data-balloon-pos="down">All</button>
            <button class="btn btn-theme btn-primary filter-button" data-filter="illustration" data-balloon="Right Click To Edit" data-balloon-pos="down">Illustration</button>
            <button class="btn btn-theme btn-primary filter-button" data-filter="photography" data-balloon="Right Click To Edit" data-balloon-pos="down">Photography</button>
            <button class="btn btn-theme btn-primary filter-button" data-filter="mockups" data-balloon="Right Click To Edit" data-balloon-pos="down">Mockups</button>
          </div>
          <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter illustration apply-handle-wrapper" style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=865" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=865" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter photography apply-handle-wrapper " style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=879" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=879" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter illustration apply-handle-wrapper" style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=26" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=26" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter photography apply-handle-wrapper" style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=787" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=787" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter illustration apply-handle-wrapper" style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=687" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=687" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter mockups apply-handle-wrapper" style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=401" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=401" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter illustration apply-handle-wrapper" style="display: block;">
            <a href="https://source.unsplash.com/random?sig=86/1200x800" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=299" class="img-responsive edit-self">
            </a>
          </div>
          <div class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter mockups apply-handle-wrapper" style="display: block;">
            <a href="https://unsplash.it/1200.300/?image=268" data-lighbox-link="true" class="link-edit edit-self">
            <img src="https://unsplash.it/1200.300/?image=268" class="img-responsive edit-self">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ include('partials/_footer.twig') }}