<footer class="footer-bs">
  <div class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-brand">
          <!-- <img src="http://www.dmu.ac.uk/webimages/The-Teaching-Excellence-Framework/tef-img.gif" width="260"> -->
          <img src="http://www.dmu.ac.uk/webimages/About-DMU-images/News-images/2017/June/TEF-main-image.jpg" width="260">
        </div>
        <div class="col-md-3 footer-nav">
          <div class="col-md-6">
            <ul class="list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Terms &amp; Condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 footer-social">
          <h4>Follow Us</h4>
          <ul>
            <li><a href="https://www.facebook.com/dmuleicester"><i class="fa fa-facebook fa-2x edit-icon"></i>&nbsp;Facebook</a></li>
            <li><a href="https://twitter.com/dmuleicester"><i class="fa fa-twitter fa-2x edit-icon"></i>&nbsp;Twitter</a></li>
            <li><a href="https://www.instagram.com/dmuleicester"><i class="fa fa-instagram fa-2x edit-icon"></i>&nbsp;Instagram</a></li>
            <li><a href="https://www.youtube.com/user/DeMontfortUniversity"><i class="fa fa-youtube-play fa-2x edit-icon"></i>&nbsp;YouTube</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-ns">
          <h4>Newsletter</h4>
          <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
          <p>
          </p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-balloon="Right Click To Edit" data-balloon-pos="down"><span class="glyphicon glyphicon-envelope"></span></button>
            </span>
          </div>
          <!-- /input-group -->
          <p></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
<!-- Script Start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX4Gl4Js_kKMVh2lEtwx5QN1eY1i0BpSE&callback=initMap"></script>
<script src="{{ asset('js/map.js', 'theme') }}"></script>
<script src="{{ asset('css/bootstrap.min.css', 'theme') }}"></script>
<script src="{{ asset('js/bootstrap.min.js', 'theme') }}"></script>
<script src="{{ asset('js/plugins.js', 'theme') }}"></script>
<script src="{{ asset('js/init.js', 'theme') }}"></script>  
<!-- END Script -->
</body>
</html>