{{ include('partials/_header.twig') }}
{{ include('partials/_nav.twig') }}

        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" {{ record.image|image() }}" border="0" alt="">
                    </div>
                    <div class="mdl-card__supporting-text">
                      <h3> <span>{{ record.description}}</span></h3>
                    </div>
                    <div class="mdl-grid portfolio-copy">
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                                {{ record.box1}}
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <img class="article-image" src="  {{ record.image2|image() }}" border="0" alt="">
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Initial Ideas</h3>
                        <div class="mdl-cell mdl-cell--6-col">
                            <img class="article-image" src="  {{ record.image3|image() }}" border="0" alt="">
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding ">
                            {{ record.box2}}
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Final Concept</h3>
                         <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                            <p>
                               {{ record.box3}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

{{ include('partials/_footer.twig') }}